.progress {
    border-top: .03em solid var(--paletteColor6);
    border-bottom: .03em solid var(--paletteColor6);

    & .bar {
        display: block;
        width: 33.3%;
        height: .4em;
        background-color: var(--paletteColor4);
        transition: width 1s ease .6s;
    }

    & .secondStep {
        width: 66.6%;
    }

    & .thirdStep {
        width: 100%;
    }
}
