* {
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: roboto mono, roboto, system-ui;
    background-color: var(--paletteColor3);

    /* Зачаровать шрифты */
    font-smoothing: antialiased;
    font-variant-ligatures: none;

    /**
     * Фикс для мобильного сафари, чтобы при поворотах он не склеивал и не терял контент.
     * Префиксы установлены вручную, так как на момент 13.03.2018
     * autoprefixer этого не делал автоматически.
     */
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    min-height: 100vh;

    & section {
        width: 100%;
    }
}

#app {
    width: 100%;
    min-height: 100vh;
}

.page {
    min-height: 100vh;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    background: transparent;
}
