:root {
    /* HEX */
    --paletteColor1:  #D1D1D1; /* form border, nav top border */
    --paletteColor2:  #409FED; /* form title, next button, submit */
    --paletteColor3:  #FFFFFF; /* body */
    --paletteColor4:  #348BE8; /* progress bar, arrows, button border */
    --paletteColor5:  #F30000; /* errors */
    --paletteColor6:  #C4C4C4; /* progress border, field bottom border */
    --paletteColor7:  #5C5B65; /* label */
    --paletteColor8:  #1770CF; /* submit on hover */
    --paletteColor9:  #AFAFB6; /* back button */
    --paletteColor10: #888792; /* back button on hover, input text */
}
