.field {
    display: flex;
    flex-direction: column;
    padding-top: 1.2em;

    & input {
        margin-top: 1em;
        box-sizing: border-box;
        border: none;
        border-bottom: .1em solid var(--paletteColor6);
        font-size: 1em;
        color: var(--paletteColor7);
    }

    & input[type='password'] {
        letter-spacing: .1em;
    }
}
