.form {
    position: relative;
    width: 21em;
    height: 29em;
    border: .09em solid var(--paletteColor1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;

    & .heading {
        height: 3.6em;
        position: relative;

        & h3 {
            position: absolute;
            width: 100%;
            padding: 1.3em;
            color: var(--paletteColor2);
            text-align: center;
        }

        & h3:last-child {
            opacity: 0;
        }
    }

    & .wrapper {
        position: relative;
        flex-grow: 1;
    }

    & form {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
    }

    & form:not(:first-child) {
        opacity: 0;
        z-index: -1;
    }

    & .general {
        flex-direction: column;
        justify-content: space-between;

        & label {
            font-size: .8em;
            text-transform: uppercase;
            color: var(--paletteColor7);
        }

        & strong {
            font-size: .8em;
            font-weight: normal;
            text-transform: uppercase;
            color: var(--paletteColor5);
        }
    }

    & .final {
        justify-content: center;
        align-items: center;

        & div {
            display: flex;
            flex-direction: column;
            align-items: center;

            & img {
                width: 8em;
            }

            & button {
                display: flex;
                align-items: center;
                color: var(--paletteColor2);
                border: .05em solid;
                border-radius: 4px;
                margin-top: 2.5em;
                padding: 1em;

                &:hover {
                    color: var(--paletteColor8);
                    border-color: var(--paletteColor8);
                }

                & img {
                    width: 1em;
                    margin-left: .5em;
                }
            }
        }
    }

    & .body {
        padding: 2.5em 1em;

        &.second > div {
            display: flex;
            flex-direction: column;
            padding-bottom: 1.7em;

            &:last-child {
                padding-bottom: 0;
            }

            & > label,
            & > strong {
                padding-bottom: 1em;
                text-align: center;
            }
        }
    }

    & .line {
        position: absolute;
        bottom: 3em;
        width: 100%;
        border-top: .1em solid var(--paletteColor1);
    }
}

@media only screen and (max-width: 340px) {
    .form {
        width: 100%;
        border: none;
    }
}
